<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodfinder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bloodfinder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bloodfinder.LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.example.bloodfinder.SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.example.bloodfinder.DashBoard"
            android:label="@string/title_activity_dash_board" >
        </activity>
        <activity
            android:name="com.example.bloodfinder.CreatePost"
            android:label="@string/title_activity_create_post" >
        </activity>
        <activity
            android:name="com.example.bloodfinder.MyPosts"
            android:label="@string/title_activity_my_posts" >
        </activity>
        <activity
            android:name="com.example.bloodfinder.PostsForMe"
            android:label="@string/title_activity_posts_for_me" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

</manifest>
